@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="large-12 columns">
        <h1>Pioneer Pagination</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Start List</h3>
        <div class="callout">
            <pioneer-pagination info="@ViewBag.Start" route="/blog"></pioneer-pagination>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Middle List</h3>
        <div class="callout">
            <pioneer-pagination info="@ViewBag.Full" route="/blog"></pioneer-pagination>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>End List</h3>
        <div class="callout">
            <pioneer-pagination info="@ViewBag.End" route="/blog"></pioneer-pagination>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>Partial List</h3>
        <div class="callout">
            <pioneer-pagination info="@ViewBag.Partial" route="/blog"></pioneer-pagination>
        </div>
    </div>
</div>