<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Pioneer.Pagination.Example</title>
  <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
<div class="container body-content">
  <nav>
    <h1>Pioneer Pagination</h1>
  </nav>
  <div class="content">
    @RenderBody()
  </div>
  <hr/>
  <footer>
    <p>&copy; 2017 - Pioneer.Pagination.Example</p>
  </footer>
</div>
  @RenderSection("Scripts", required: false)
</body>
</html>
